<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="/" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">AITEN</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Data</label>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
          <a href="/sensors" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Sensors</span></a>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
          <a href="/osensors" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Other Sensors</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Predictive Models Insights</label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item">
          <a href="/pafq" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Predictive Algoritms for Quality
            </span></a>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item">
          <a href="/darc" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Diagnostic Analysis &Root Cause/Anomaly
              Detection
            </span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Early Warnings</label>
        </li>
        <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
          <a href="/recom" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-file-text"></i></span><span class="pcoded-mtext">Recommendations and Decision
              Support
            </span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Administration</label>
        </li>
        <li data-username="Disabled Menu" class="nav-item">
          <a href="#" class="nav-link">
            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
          </a>
        </li>
        <li class="m-2" style="background-color: azure;">
          <input onClick="window.location.href='/models'" type="image" src="/static/assets/images/wzl-logo1.png"
            width="250" alt="" class="d-inline-block align-middle">
        </li>
      </ul>

    </div>
  </div>
</nav>